<!DOCTYPE html>
<html>
<head>
  <title>Nestedcomments</title>
  <%= stylesheet_link_tag    "nestedcomments/application", media: "all" %>
  <%= javascript_include_tag "nestedcomments/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
